.don{
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
}
fieldset{
    display: block;
    padding-top: 10px;
    width: 200px;
}

input{
    /* display: block; */
}
.mahi{
    display: block;
}
.grop{
    display:block ;
    /* padding-top: 10px; */
}
#hade{
    padding-top: 20px;
}
#vast{
    padding-top: 10px;
}
#win{
    padding-top: 20px;
}
